

.list-circle {
    list-style: disc;
    list-style-position: inside;
    direction: rtl;
    text-align: right; 
  }
.list-number {
    list-style: decimal;
    list-style-position: inside;
    direction: rtl;
    text-align: right; 
  }


  .button:hover {
    
      background-color: transparent; 
    }
  

    html{
      font-size: calc(65% + .7vmin);
scroll-behavior: smooth;
-moz-scroll-behavior: smooth;
-ms-scroll-behavior: smooth;
-webkit-scroll-behavior: smooth;
-o-scroll-behavior: smooth;

}
.video-react-poster{
  background-color: #0c5685 !important;
}