@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-custom {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

* {
  /* font-family: "IBM Plex Sans Arabic", sans-serif; */
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
}
